In [ ]:
import pandas as pd
import pickle

file_path='/Users/jeonghan/Documents/RLTradingBot/gold_daily_data/gold_krx_1000.csv'

col = ['년/월/일','종가','시가','고가','저가','거래량(g)']
mdata = pd.read_csv(file_path, index_col='년/월/일',usecols=col)
mdata.tail()

                종가 거래량(g)      시가      고가      저가
년/월/일
2014/03/28  44,950  2,663  45,020  45,100  44,500
2014/03/27  45,540  2,197  45,800  45,820  45,540
2014/03/26  46,060  3,074  46,100  46,100  46,000
2014/03/25  46,230  4,190  46,400  46,420  46,000
2014/03/24  46,950  5,978  46,950  47,400  46,730